<h1>Results</h1>
<p>Total Members: <%= @members.length %></p>
<table id="members">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>House</th>
    <th>Patronus</th>
  </tr>
  <% @members.each do |member| %>
  <tr id="member-<%= member.id %>">
      <td><%= member.name %></td>
      <td><%= member.role %></td>
      <td><%= member.house %></td>
      <td><%= member.patronus %></td>
  </tr>
  <% end %>
</table>
